@import "tailwindcss";

@theme {
  --color-primary: #10B981;
  --color-primary-hover: #059669;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-zinc-900 antialiased;
}

::selection {
  @apply bg-primary/30 text-zinc-900;
}